body{
    font-size: 70%;
    font-family: "Gill Sans", sans-serif;
    background-image: url("https://img.freepik.com/fotos-gratis/vista-superior-deliciosa-composicao-da-comida-brasileira_23-2148739226.jpg?w=360&t=st=1689553242~exp=1689553842~hmac=8ef3890daa3b46db49d4e3f0d707ff00c9bea4a5704ccd44b9ff9555c942a272"); 
    width:auto;
    padding:1%;
  margin:3%;
  margin-left: 20%;
  margin-right: 20%;
  max-width: 600px;
}

#divdestaque{
    border-color:forestgreen;
    background: rgb(255,241,0);
  background:rgb(238, 111, 26);
  padding: 1%;
  margin:1%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
.div2{
    border-color: 10px forestgreen;
    background: rgb(255,241,0);
    background:forestgreen;
    padding:1%;
    margin:5%;
    margin-left: 5%;
    margin-right: 5%;}

h1{
    font-size: 37pt;
    font-style:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white
}
footer{
  background-color: white;
  border: darkgreen 20px;
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
}
